/* Fonts */

@font-face {
    font-family: 'dead_kansasregular';
    src: url('polices/dead_kansas-webfont.woff2') format('woff2'),
         url('polices/dead_kansas-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* General Structure */


body {
    margin: 0;
    display:flex;
    justify-content: center;
}

#poster {
    background:url("images/walking-dead.jpg") center no-repeat;
    background-size:cover;
}

.credits {
    display: flex;
    justify-content: center;
    margin-top:48vh;
    margin-bottom:4vh;
    margin-left: 2vh;
    margin-right: 2vh;
}

/* h Titles structure */

p {
  margin-top:11vh;
  margin-bottom: 0.3vh;
  margin-left:10vh;
  font-size:3vh;
  font-family: 'dead_kansasregular';
  font-weight: lighter;
  text-transform: uppercase;
}

h1 {
  text-align: center;
  font-family: 'dead_kansasregular';
  font-size: 6vh;
  color: black;
  margin-top:0;
  margin-left: 2vh;
  margin-right: 2vh;
}

h2 {
    font-family: Titre, sans-serif;
    font-size: 3vh;
    margin: 0px;

}

h3 {
    font-family: 'Helvetica Neue';
    font-size: 4vh;
    font-weight: bold;
    margin: 0px;
    color:white;
    line-height: 1.5em;
    border:4px solid #A79C71;
    box-sizing:border-box;
}

/* Styles for list in credits */

ul, li {
  list-style-type: none;
  font-size:3vh;
  padding-right:0.5vh;
  padding-left: 0;
  margin-top:0px;
  margin-bottom: 0px;
  text-transform:uppercase;
}

li:first-child {
  color:#A79C71;
}

li:last-child {
  color:white;
}
